body {
    font-family: Segoe UI, Tahoma, Helvetica, sans-serif;
}

.para{
    margin-left: 30px;
}

.error {
    background-color: lightyellow;
    border: 1px solid lightgray;
    padding: 16px;
}

#inputDiv {
    height: 30%;
    display: block;
    padding: 30px;
    padding-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

#inputBox {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

#submitButton {
    margin-top: 10px;
}

#outputDiv {
    padding: 30px 0;
}